USE [master]
GO
/****** Object:  Database [WESPLIT]    Script Date: 12/8/2020 2:54:03 PM ******/
CREATE DATABASE [WESPLIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WESPLIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WESPLIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WESPLIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WESPLIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WESPLIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WESPLIT]
GO
/****** Object:  Table [dbo].[EXPENSE]    Script Date: 12/8/2020 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSE](
	[idJourney] [int] NOT NULL,
	[idMember] [int] NOT NULL,
	[id] [int] NOT NULL,
	[objectPay] [nvarchar](max) NULL,
	[cost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idJourney] ASC,
	[idMember] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_DESTINATION]    Script Date: 12/8/2020 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_DESTINATION](
	[idJourney] [int] NOT NULL,
	[id] [int] NOT NULL,
	[imageLink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idJourney] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOURNEY]    Script Date: 12/8/2020 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNEY](
	[id] [int] NOT NULL,
	[_location] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[isFinish] [int] NULL,
	[thumbnailLink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 12/8/2020 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[idJourney] [int] NOT NULL,
	[id] [int] NOT NULL,
	[_name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idJourney] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[EXPENSE] ([idJourney], [idMember], [id], [objectPay], [cost]) VALUES (1, 1, 1, N'Nước uống', 100000)
INSERT [dbo].[EXPENSE] ([idJourney], [idMember], [id], [objectPay], [cost]) VALUES (1, 1, 2, N'Snack', 25000)
INSERT [dbo].[EXPENSE] ([idJourney], [idMember], [id], [objectPay], [cost]) VALUES (1, 2, 1, N'Thuốc say xe', 50000)
INSERT [dbo].[IMAGE_DESTINATION] ([idJourney], [id], [imageLink]) VALUES (1, 1, N'/Images/780_crop_phu-quoc-he-2020.jpg')
INSERT [dbo].[IMAGE_DESTINATION] ([idJourney], [id], [imageLink]) VALUES (1, 2, N'/Images/shutterstock-1355875478-3291-1-5462-7597-1590571669.jpg')
INSERT [dbo].[IMAGE_DESTINATION] ([idJourney], [id], [imageLink]) VALUES (2, 1, N'/Images/langbiang-du-lich-da-lat.jpg')
INSERT [dbo].[JOURNEY] ([id], [_location], [title], [isFinish], [thumbnailLink]) VALUES (1, N'Phú Quốc', N'Thiên đường nghĩ dưỡng', 1, N'/Images/du-lich-phu-quoc-3-ngay-2-dem.jpg')
INSERT [dbo].[JOURNEY] ([id], [_location], [title], [isFinish], [thumbnailLink]) VALUES (2, N'Đà lạt', N'Tận hưởng niềm vui', 0, N'/Images/thanh-pho-da-lat.jpg')
INSERT [dbo].[MEMBER] ([idJourney], [id], [_name]) VALUES (1, 1, N'Bách')
INSERT [dbo].[MEMBER] ([idJourney], [id], [_name]) VALUES (1, 2, N'Hà')
INSERT [dbo].[MEMBER] ([idJourney], [id], [_name]) VALUES (1, 3, N'Khôi')
ALTER TABLE [dbo].[EXPENSE]  WITH CHECK ADD FOREIGN KEY([idJourney], [idMember])
REFERENCES [dbo].[MEMBER] ([idJourney], [id])
GO
ALTER TABLE [dbo].[IMAGE_DESTINATION]  WITH CHECK ADD FOREIGN KEY([idJourney])
REFERENCES [dbo].[JOURNEY] ([id])
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD FOREIGN KEY([idJourney])
REFERENCES [dbo].[JOURNEY] ([id])
GO
USE [master]
GO
